@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

footer{
  line-height: 1.4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer *{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
footer .container{
  width: 100%;
  margin:0;
  padding:0px;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
footer .row{
  display: flex;
  flex-wrap: wrap;
}
footer ul{
  padding: 0;
  list-style: none;
  
  max-width: 100%;
}
 .footer{
  margin: 0px;
  margin-bottom: 0%;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(90deg, rgb(13, 52, 89) 0%, rgb(13, 55, 94) 100%);
  padding: 0 0  10px 0;
  
}
 .footer-col{
   width: 22%;
   padding: 0 15px;
}
 .footer-col h4{
  font-size: 19px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  text-align: center;
}
 .footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #ff1b17;
  height: 1px;
  box-sizing: border-box;
  width: 100%;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
  width: 100%;
}

.footer-col ul li{
  width: 100%;
  margin: 0;
}
 .footer-col ul li a{
  font-size: 17px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  width: 100%;
}
 .footer-col ul li a:hover{
  color: #FF5C17;
  padding-left: 8px;
}
 .footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
 .footer-col .social-links a:hover{
  color: #ffffff;
  background-color: #FF5C17;
}

.faIcon {
  width: 30px;
  font-size: 30px;
}

@media(max-width: 767px){
   .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
   .footer-col{
    width: 100%;
}
}
